<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../componentes/ejs/head') %> 
    
    <link rel="stylesheet" src="../../static/css/navinicio.css">
    <link rel="stylesheet" src="../../static/css/footer.css">
</head>

<body>
  <header>
    <%- include ('../componentes/ejs/nav') %> 
  </header>
  <main> 
    
  </main>
    <footer>
    <%- include('../componentes/ejs/footer') %> 
</footer>

</body>

</html>