<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ('../componentes/ejs/head') %>
  <link rel="stylesheet" href="/static/css/thumbs.css">
</head>

<body>
  
  <main>
    <%- include('../componentes/ejs/formPhoto'); %>
  </main>
  
</body>

</html>