<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ('../componentes/ejs/head') %>
    
</head>

<body>
  
  <main>
    <%- include('../componentes/ejs/formPhoto'); %>
  </main>
  
</body>

</html>