<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ('../componentes/ejs/head') %>

    <link rel="stylesheet" href="/static/css/navinicio.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/porfoliominiaturas.css">
</head>

<body>
  <header>
    <%- include ('../componentes/ejs/nav') %>
  </header>

  <main>
    <%- include ('../componentes/ejs/compminiaturas') %>
  </main>

  <footer>
    <%- include('../componentes/ejs/footer') %>
  </footer>
</body>

</html>