<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../componentes/ejs/head') %> 
    <link rel="stylesheet" src="../../static/css/sobremi.css">
    <link rel="stylesheet" src="../../static/css/navinicio.css">
    <link rel="stylesheet" src="../../static/css/footer.css">
</head>
<body>
    <header>
        <nav>
            <%- include ('../componentes/ejs/nav') %> 
        </nav>
    </header>
    <main> 
        <%- include('../componentes/ejs/compsobremi'); %>
    </main>
    <footer>
        <%- include('../componentes/ejs/footer') %> 
    </footer>
</body>
</html>