
.HeaderbotonInico {
right: 7%;
justify-content: center;
};

.Navnombre {
background-color: #d78c0e52;
display: flex;
justify-content: space-around;
flex-direction: column;
width: 85vw;
height: 30vh;
align-items: center;
margin: 2px;
border-radius: 20px;
};

.Minombre {
justify-content: space-between;
font-family: Vladimir Script;
color: #063a35;
font-size: 48pt;
};

.NombreLinks {
justify-content: space-between;
font-family: Kunstler Script;
font-size: 36pt;
color: goldenrod;
};
