.Navnombre {
  background-color: #c3dbc2c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  border-radius: 20px;
  width: 98vw;
  height: 8vh;
}

.Minombre {
  justify-content: space-between;
  font-family: Vladimir Script;
  color: #b55133;
  font-size: 48pt;
}

.NombreLinks {
  justify-content: space-between;
  font-family: Kunstler Script;
  font-size: 36pt;
  color: #6141e3;
}

:root {
  background-color: black;
}
