.Navnombre {
  background-color: #d78c0e52;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  border-radius: 20px;
  width: 100vw;
  height: 8vh;
}

.Minombre {
  justify-content: space-between;
  font-family: Vladimir Script;
  color: #063a35;
  font-size: 48pt;
}

.NombreLinks {
  justify-content: space-between;
  font-family: Kunstler Script;
  font-size: 36pt;
  color: #6141e3;
}
