.Img {
  width: 20%;
  margin: 2px;
}
.Galeria {
  display: flex;
  flex-direction: row;
}

.Fila {
  display: flex;
  width: 100%;
}

.Img >.wrapper34 {   
  width:  calc(20% * 3 / 4);   
  margin: 2px;
}

.Img >.wrapper43 {   
  width:  calc(20% * 4 / 3);   
  margin: 2px;
} 

.Img >.wrapper23 {
  width:  calc(20% * 2 / 3);   
  margin: 2px;
}  
.Img >.wrapper32 {
  width:  calc(20% * 3 / 2);   
  margin: 2px;
} 

.Img >.wrapper1 {
  width:  calc(20% * 1 / 1);   
  margin: 2px;
} 

.Img >.wrapper169 {
  width:  calc(20% * 16 / 9);   
  margin: 2px;
} 



