

.Img {
  display: flex;
  width: 20%;
  border-radius: 5px;
  margin:2px;
 
}

.Galeria {
  display: flex;
  flex-direction: row;
}

.Fila {
  display: flex;
  width: 18%;
  margin: 2px;
}

/**
body {   width: 100vw;   height: 100vh;    background-color: black;  margin:0px;  }

.wrapper {  margin: 2px;  }   .wrapper34 {   width:  calc(20% * 3 / 4);   }

.wrapper43 {   width:  calc(20% * 4 / 3);   }   */
