.Generalsobremi {
  background-color: #b5b0b0;
  margin: 0;
  border-radius: 20px;
}

.Sectionfotos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 35vh;
  width: 100vh;
  margin: 0;
}
.Fotoyo1 {
  content: url("/static/imagenes/autoretrato/yo.jpg");
  display: flex;
  height: 20%;
  border-radius: 5px;
  margin: 0 20px;
  align-items: center;
}

.Fotoyo2 {
  content: url("/static/imagenes/autoretrato/yoperu.jpg");
  display: flex;
  height: 20%;
  border-radius: 5px;
  margin: 0 20px;
  align-items: center;
}

.Fotoyo3 {
  content: url("/static/imagenes/autoretrato/yop.jpg");
  display: flex;
  height: 20%;
  border-radius: 5px;
  margin: 0 20px;
  align-items: center;
}

.Textosobremi {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  text-align: justify;
  flex-direction: column;
}
