
.Generalsobremi {
display: flex;
flex-direction: column;
width: 98%;
height: 98%;
text-align: justify;
background-color: #b5b0b0;
};

.Fotoyo1 {
    content: url("/static/imagenes/autoretrato/yo.jpg");
    width: 20%;
    border-radius: 5px;
    margin: 45px;
};

.Fotoyo2 {
width: 17%;
border-radius: 5px;
margin: 45px;
};

.Fotoyo3 {
width: 35%;
border-radius: 5px;
margin:45px;
};

.Textosobremi {
display: flex;
flex-direction: column;
margin-left: 20px;
margin-right: 20px;
};
