<main class="Genericocontac">
  <table class="Formulariocontac">
    <form>
      <h1> CONTACTO </h1>
      <form>
        <form action="gonzaloav@protonmail.com" method="get">
          <tr>
            <th>
              <label for="name"> Tu Nombre:* </label>
            </th>
            <th>
              <label for="text"> Asunto: </label>
            </th>
          </tr>
          <tr>
            <td class="Celdacontac">
              <input class="Rectangulocontac" type="text" id="name" name="user_name" />
            </td>
            <td class="Celdacontac">
              <input class="Rectangulocontac" type="text" id="text" name="your-subject" />
            </td>
          </tr>

          <p class="Palabracontac">
            <tr>
              <th>
                <label for="mail"> Tu E-mail:* </label>
              </th>
              <th>
                <label for="msg"> Tu Mensaje: </label>
              </th>
            </tr>
            <tr>
              <td class="Celdacontac">
                <input class="Rectangulocontac" type="email" id="mail" name="user_mail" />
              </td>
              <td class="Celdacontac">
                <textarea class="Textocontac" id="msg" name="user_message"> </textarea>
              </td>
            </tr>
          </p>
          <tr>
            <td>
              <h3> * Campos obligatorios </h3>
            </td>
            <td>
              <button class="Botoncontac" type="submit">Envíe su mensaje</button>
            </td>
          </tr>
  </table>
  </form>
  </from>
  </form>
</main>