
 <main class="CarruselContenedor">

    <button id="previousButton"> </button>

    <img id="carrusel" height="auto" width="92%" src="../../../uploads/" alt="carrusel foto" />

    <button id="nextButton">  </button>

</main>