
 <main class="CarruselContenedor">

    <div class="galeria">
        <% filas.forEach( function(fila) { %>
            <div class="fila">
                <% fila.forEach(function(foto) { %>
                    <img src="/photos/<%= foto.file %>" alt="<%= foto.file %>">
                <% }); %>
            </div>
        <% }); %>
    </div>

</main>