
 <main class="CarruselContenedor">

    <button id="previousButton"> </button>

    <img id="carrusel" height="auto" width="92%" src="/static/imagenes/inicio/paisaje.jpg" alt="carrusel inicio" />

    <button id="nextButton">  </button>

</main>