
 <main class="ContenedorFotoAmpliada">

    <div class="BotonPrevius"> 
        <button id="previousButton">  </button>
    </div>
        <img id="carrusel" height="auto" width="92%" src="/static/imagenes/inicio/paisaje.jpg" alt="carrusel inicio" />
    <div class="BotonNext"> 
    <button id="nextButton">  </button>
    </div>
</main>