<main>

  <!-- Buscamos la galeria entre los diferentes Arrys -->

  <div class="Galeria">
    <% filas.forEach( function(fila) { %>

      <!-- Ahora que tenemos la galeria buscamos las fotos para hacer filas -->

      <div class="Fila">
        <% fila.forEach(function(foto) { %>
          <div class="Img <%= foto.ratio %>">
              <img src="/photos/<%= foto.file %>" alt="<%= foto.file %>">
          </div>
        <% }); %>
      </div>
      <% }); %>
  </div>

</main>