
 <main class="CarruselContenedor">

    <button onclick="previous()"> </button>

    <img id="carrusel" height="auto" width="92%" src="/static/imagenes/inicio/paisaje.jpg" alt="carrusel inicio" />

    <button onclick="next()">  </button>

</main>