<main>
    <form method="post" enctype="multipart/form-data">
        <input type="number" name="galeria_fotos">
        <input type="file" name="file" multiple>
        <input type="submit">
    </form>
</main>