<main>
    <form method="post" enctype="multipart/form-data">
        <input type="number" name="galeria_fotos">
        <input id="photos_input" type="file" name="file" multiple>
        <input id="photos_data_input" type="text" name="photos_ratios" hidden>
        <input id="submit_button" type="submit" disabled>
    </form>
    <div id="img_preview">
        <!-- Aquí se construyen las miniaturas de las imágenes -->
    </div>
    <script src="/static/js/uploadImages.js"></script>
</main>