<nav class="HeaderbotonInico">
    <ul class="Navnombre"></ul>
      <h1 class="Minombre"> Zalo Aller</h1>
    
      <li >
        <a class="NombreLinks" href="/">Inicio</a>
      </li>
      <li >
        <a class="NombreLinks" href="/sobremi">Sobre Mi</a>
      </li>
      <li >
        <a class="NombreLinks" href="/Contacto">Contacto</a>
      </li>
    </ul>
     

  </nav>

  
    