git <nav class="HeaderbotonInico">
  <div class="Navnombre">
    <h1 class="Minombre"> Zalo Aller</h1>

    <a class="NombreLinks" href="/">Inicio /</a>

    <a class="NombreLinks" href="/sobremi">Sobre Mi /</a>

    <a class="NombreLinks" href="/Contacto">Contacto /</a>

    <a class="NombreLinks" href="/Porfolio">Porfolio </a>

  </div>
</nav>