<nav class="HeaderbotonInico">
  <div class="Navnombre">
    <h1 class="Minombre"> Zalo Aller</h1>

    <a class="NombreLinks" href="porfolio/fotoampliada"> foto ampliada  </a>

    <a class="NombreLinks" href="porfolio/fotoampliada"> info
      <img src="../../../static/imagenes/imgbotones/infofoto.png" 
           alt="infofoto" />
    </a>
   

    <a class="NombreLinks" href="porfolio/carrusel"> play - stop
      <img src="../../../static/imagenes/imgbotones/inicocarrusel.png" 
           alt="inicocarrusel" />
    </a>

    <a class="NombreLinks" href="porfolio/fotosminiaturas">  
        <img src="../../../static/imagenes/imgbotones/miniaturafoto.png" 
             alt="miniaturafoto" />
    </a> 

    <a class="NombreLinks" href="Porfolio"> Regresar a porfilo 
        <img src="../../../static/imagenes/imgbotones/inicioporfolio.png" 
             alt="inicioporfolio" />
    </a>

  </div>

</nav>